body
    background-color: #000
    color: #fff

a
    color: #eee

header
    height: 10vh

section
    height: 80vh
    width: 100%

.center-content
    @include j-align(both)

footer
    height: 10vh
    text-align: center